$dark: #252525;
$darkLight: #4D4C4C;
$headerBg: #F2FDFF;
$headerDecoration1: #D0DBFC;
$headerDecoration2: #B0C1F2;
$tagsBg: #F0F0F0;
$white: #FFFFFF;
$months: #636363;
$btnDark: #1D1D1D;
$modalHeaderBg: #F4F4F4;
$containerWidth: 1440px;
$sp4: 4px;
$sp8: 8px;
$sp16: 16px;
$sp32: 32px;
$sp64: 64px;
$sp128: 128px;
$mobileSmall: 450px;
$mobile: 600px;
$mediaTablet: 768px;
$mediaTabletHorizontal: 992px;
