$dark: #252525;
$darkLight: #4D4C4C;
$headerBg: #F2FDFF;
$tagsBg: #F0F0F0;
$white: #FFFFFF;
$containerWidth: 1440px;
$sp4: 4px;
$sp8: 8px;
$sp16: 16px;
$sp32: 32px;
$sp64: 64px;
$sp128: 128px;
$mediaTablet: 768px;
$mediaTabletHorizontal: 992px;
