---
interface Props {
    pt?: boolean;
    pb?: boolean;
    class: string;
}

const {pt, pb, class: _class, ...rest} = Astro.props;
---
<div class={`${_class} container ${pt && 'pt'} ${pb && 'pb'}`} {...rest}>
    <slot/>
</div>
<style lang="scss">
  @import "../styles/vars";

  .container {
    width: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    padding-left: $sp64;
    padding-right: $sp64;
  }

  .pb {
    padding-top: $sp64;
  }

  .pb {
    padding-bottom: $sp64;
  }

  @media all and (max-width: $mediaTablet) {
    .container {
      padding-left: $sp32;
      padding-right: $sp32;
    }
    .pb {
      padding-top: $sp32;
    }
    .pb {
      padding-bottom: $sp32;
    }
  }
</style>
